
.themeDark {
  --accent-h: 219;
  --accent-s: 56%;
  --accent-l: 55%;
  
  --background-primary: #272b34;
  --background-secondary: #20242b;
  --background-secondary-alt: #1a1e24;
  --text-normal: #dcddde;
  --text-muted: #888;
  --text-accent: #61afef;
  --background-border: #424958;

  --interactive-normal: #20242b;
  --interactive-hover: hsla(var(--accent-h), calc(var(--accent-s) - 35%), var(--accent-l), 0.07);
}