@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
body {
  --slate-1: #111113;
  --slate-2: #18191b;
  --slate-3: #212225;
  --slate-4: #272a2d;
  --slate-5: #2e3135;
  --slate-6: #363a3f;
  --slate-7: #43484e;
  --slate-8: #5a6169;
  --slate-9: #696e77;
  --slate-10: #777b84;
  --slate-11: #b0b4ba;
  --slate-12: #edeef0;
}

.prose {
  --tw-prose-body: var(--sand-12);
  --tw-prose-bold: var(--sand-12);
  --tw-prose-links: var(--sand-12);
  --tw-prose-headings: var(--sand-12);
  --tw-prose-code: var(--sand-12);
  --tw-prose-quotes: var(--sand-11);
}


.primary-grid {
  display: grid;
  grid-template-areas: 
    "header header header header"
    "icon-bar explorer-bar main utility-bar"
  ;
  grid-template-columns: 40px min-content 1fr min-content;
  grid-template-rows: 48px auto;
}

.header-gi {
  grid-area: header;
}

.icon-bar-gi {
  grid-area: icon-bar;
}

.explorer-bar-gi {
  grid-area: explorer-bar;
}

.main-gi {
  grid-area: main;
}

.utility-gi {
  grid-area: utility-bar;
}


.tree {
  list-style-type: none;
  padding: 0;
}

.tree li {
  margin: 0;
  padding: 3px 0 0 12px;
  position: relative;
  font-size: 14px;
}

.tree > li {
  padding: 0;
}

/* .tree li:last-child::before {
  border-color: red !important;
} */